/* reset styles */
body {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}

li a{
  font-size: 17px;
}

/* end resets styles */

html { 
  scroll-behavior: smooth; 
  overflow-x: hidden;
} /* smooth scrool */ 

.flex-container {
  display:flex;
  flex-direction: column;
}

.left {
  width: 25%;
  background: #3681dd;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  animation: slide_right .7s;
  transition: .7s;
  top: 0;
  left: 0;
}

  .name { 
    padding: 15px 0;
    color:#fff; 
    text-align: center; 
    width: 80%;
    font-size: 1.9em;
    margin : 15px auto;
    border-bottom: 0.5px solid rgba(255,255,255,0.3);
    border-top: 0.5px solid rgba(255,255,255,0.3);
    animation: fadein 3s;
  }

/* remove spaces from ul an li only left div */
.left ul, .left li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left ul li a {
  display: block;
  padding: 10px 5px;
  text-align: center;
  color: #fff;
  background: #0000ff;
  margin-bottom: 10px;
  font-size: 20px;
}

.left a:hover {
  color: #000;
  background: yellow;
  border-radius: 25px;
  transition: .7s;
}

.left .site-content {
  width: 100%;
}

.left .external-content{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.right {
  width: 75%;
  margin-left: 25%;
}

  .projects {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .projects figure {
    margin: 0;
  }

  .projects .card {
    border: 0.5px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    box-sizing: border-box;
    padding:5px 0;
    width: 49%;
    margin-bottom: 20px;
    color: #00f;
    background: #fff;
  }

  #projects a{
    color: #4C4015;
  }
  .projects .card img {
      max-width: 100%; 
  }

  .projects .card p {
    text-align: center;
    font-weight: bold;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
    margin-bottom: 5px;
  }

  .projects .card figcaption {
    text-align: center;
    margin-top: 5px;
  }

  .title {
    font-size: 20px;
    text-indent: 15px;
  }

.right section p {
  line-height: 35px;
  font-size: 20px;
  text-indent: 15px;
  text-align: justify;
  margin: 0 10px;
}


.right section{
  display:none;
  visibility:hidden;
  padding:0 10px;
  min-height: 100vh;
  margin: 0;
  width: calc(100% - 20px);
}

.right section:nth-child(even){
  animation: slide_right .65s;
  background: #2FBCF5;
}

.right section:nth-child(odd){
  background: #efeffe;
  opacity: 0;
  animation: slide_left .7s forwards;
}

.right section h4 {
  margin: 0;
  padding: 20px 0;
}

.right ul li {
  font-size: 20px;
  margin-bottom: 3px;
}

.right .text-center{
  text-align:center;
}

/* transition */
@keyframes slide_right{
  from {
    margin-left: -125%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slide_left{
  from {
    margin-left: 100%;
    opacity:0;
  }
  to {
    margin-left: 0;
    opacity:1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


/* mobile layout */
@media (max-width:800px){
  .left {
    display:none;
  }
  .right {
    width: 100%;
    margin: 0;
    transition: .7s;
  }
    .projects { flex-direction: column; }
    .projects .card{ width:100%; transition: .7s;}
  
  .right section{
    height:100%;
    display:inherit;
  }

  /*.right section  h4:nth-child(1) {
    margin: 50px 0;
  }*/
}
