@media (max-width: 576px) {
  /* dashboard mobile */
  button.float-left,
  button.float-right {
    float: left;
    display: block;
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .form-center-vertical {
    margin-top: 25vh;
  }
}
body {
  margin-bottom: 20px;
}
.comment {
  /*min-height: 150px;*/
  margin-bottom: 15px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.comment p {
  margin-top: 10px;
  float: right;
  width: 100%;
  text-align: justify;
  top: 25%;
}
.comment img {
  background: #fff;
  border-radius: 50%;
  margin-right: 15px;
  max-width: 5%;
  position: relative;
  top: 25%;
}
.comment b {
  margin-top: 10px;
  display: block;
}
#post input {
  margin-left: -15px;
}
#post p {
  font-size: 20px;
  text-align: justify;
}
#post .img-post {
  display: block;
  margin: 15px auto;
  max-width: 100%;
}
#posts-node img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
}
.card-post p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.admin-post {
  border: 0.5px solid rgba(32, 30, 0, 0.5);
  border-radius: 15px;
  padding: 15px;
}
.admin-post p {
  overflow: hidden;
  font-size: 1.15em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
textarea {
  margin-left: -15px;
}
.contact-form {
  top: 12.5vh;
}
.contact-form textarea {
  margin: 0;
  width: calc(100%) !important;
}
